@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
  overflow: hidden;
  cursor: default;
}

#titlebar {
  display: flex;
  justify-content: space-between;
  width: 100vx;
  height: 48px;
  background-color: #ff975e;
}

.titulo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  color: #fcedcf;
}

.teclas {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container {
  background-color: #ffca5e;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container_sec {
  background-color: #fcedcf;
  margin-top: 20px;
  height: 85%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container_sec h1 {
  color: #8c4620;
  width: 70%;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  text-transform: uppercase;
  text-shadow: 4px 3px 0 #00000029;
}

.container_sec button {
  background-color: #0081d17b;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
  box-shadow: 4px 4px 0px #005e9985, 8px 8px 0px #003d6697;
  border-radius: 10px;

  transition: all 0.1s ease-in-out;
}

.container_sec button:hover {
  background-color: #0081d1fe;
  box-shadow: 2px 2px 0px #ff975e, 4px 4px 0px #ffca5e;
  transition: all 0.1s ease-in-out;
  border-radius: 15px;
}

.container_sec button:active {
  background-color: #0081d1fe;
  box-shadow: inset 4px 4px 15px 0px #004f80fe;
  transition: all 0.1s ease-in-out;
  border-radius: 15px;
}