@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&family=Pixelify+Sans:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Pixelify Sans", sans-serif;
  overflow: hidden;
  cursor: default;
}

#titlebar {
  display: flex;
  justify-content: space-between;
  width: 100vx;
  height: 48px;
  background-color: #ff975e;
}

.titulo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  font-size: 2rem;
  color: #fcedcf;
}

.teclas {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container {
  background-color: #ffca5e;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.container_sec {
  background-color: #fcedcf;
  border-radius: 15px;
  margin-top: 20px;
  height: 85%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2rem;
  color: #e67132;
}

.container_sec p {
  padding: 10px;
}

.container_tipo_ovo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  color: #ff975e;
  font-weight: 900;
  text-align: center;
}

.img_ovo {
  height: 15vh;
  cursor: pointer;
  transition: height 0.5s ease 0s;
}

.img_ovo:hover, .img_ovo.ativa {
  height: 20vh;
}

.img_ovoD {
  height: 15vh;
  cursor: pointer;
  transition: height 0.5s ease 0s;
}

.img_ovoD:hover, .img_ovoD.ativa {
  height: 20vh;
}

.estrutura img{
  height: 16vh;
}

.medio {
  padding: 0px 9px 0px 12px;
}

.container_sec button {
  background-color: #e67132;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0px 0px 10px 0px;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 10px;
  box-shadow: 4px 4px 0px #9d4d22b7, 8px 8px 0px #7234129e;
  border-radius: 10px;

  transition: all 0.1s ease-in-out;
}

.container_sec button:hover {
  background-color: #b85a28;
  box-shadow: 2px 2px 0px #ff975e, 4px 4px 0px #ffca5e;
  transition: all 0.1s ease-in-out;
  border-radius: 15px;
}

.container_sec button:active {
  background-color: #e67132;
  box-shadow: inset 4px 4px 15px 0px #87421d;
  transition: all 0.1s ease-in-out;
  border-radius: 15px;
}

.cada_ovo {
  position: relative;npm install --save-dev electron-builder

}

.janela {
  display:none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 243, 203);
  border: 5px solid #a35d00;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 460px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  
  
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
   
}

.janela p {
  text-align: center;
  font-size: 5rem;
  border:3px solid #87421d;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  font-family: "Bitcount Grid Single", system-ui;
}

.relogio {
  width: 250px;
  margin-top: 0px;
  margin-bottom: -10px;
}

.fechar {
  width: 50px;
  cursor: pointer;
}